/* shear font style */

body {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
}

section {}

.container {
  position: absolute;
  top: 30%;
  left: 40%;

}

.image {
  text-align: justify center;
  position: relative;
  margin-bottom: 50px;
}

.Happy {

  font-size: 32px;
  font-weight: 400;
  color: rgb(185, 213, 167);
}

.year {

  font-size: 52px;
  font-weight: 800;
  color: rgb(172, 197, 74);

}

.add {
  margin-bottom: 50px;
}

.parsent {
  color: red;
  font-size: 60px;
  font-weight: 700;
}

.HOLIDAY {
  color: red;
  font-size: 13px;

}

.categories {
  font-size: 30px;
  font-weight: 700;
  margin-top: 8px;
}

.adimg {

  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.party {
  position: absolute;
  width: 642px;
  height: 176px;
  left: 20.15%;
  right: 31.21%;
  top: 270%;
  bottom: -233%;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
}

.dolor {
  position: absolute;
  width: 697px;
  height: 60px;
  left: 266px;
  right: 357px;
  top: px;
  bottom: -1280px;
  color: white;

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.btn {
  position: absolute;
  width: 103px;
  height: 24px;
  left: 298px;
  right: 919px;
  bottom: -1300px;
  color: none;

  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.gr70 {

  position: absolute;
  width: 320.16px;
  height: 400.65px;
  left: 900px;
  top: 1500px;
  margin-bottom: 30px;
}

.all-place {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.place p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

